/* index */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  nav{
    background: black;
    height: 140px;
    width: 100%;
    .checkbtn{
        font-size: 30px;
        color: white;
        float: right;
        line-height: 140px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
    }
    #check{
        display: none;
    }
    .enlace{
        position: absolute;
        padding: 20px 50px;
        text-decoration: none;
    }
    .Logo{
        height: 120px;
    }
    ul{
        float: right;
        margin-right: 20px;
        z-index:1;
        display: block;
        li{
            display:inline-block;
            line-height: 140px;
            margin: 0 15px;
            a{
                color: rgb(248, 246, 246);
                font-size: 18px;
                padding: 7px 13px;
                border-radius: 3px;
                text-transform: uppercase;
                text-decoration: none;
                &:hover,&:active{
                    background:gray;
                    transition: 0.5s;
                }
            }
        }
    }
  }

  aside{
    padding: 0;
    .slide{
        img{
            display: flex;
            height: 110vh;
            object-fit: cover;
        }
    }
  }

  footer{
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: 400;
     background-color: #202020;
     padding: 40px 0;
     
    .social{
        text-align: center;
        padding-bottom: 25px;
        color: black;
        a{
            font-size: 24px;
            color: inherit;
            border: 1px solid #ccc;
            background-color: #ededed;
            width: 40px;
            height: 40px;
            line-height: 38px;
            display: inline-block;
            text-align: center;
            border-radius: 50%;
            margin: 0 8px;
            opacity: 0.75;
            &:hover{
                opacity: 0.9;
            }
        }
    }
    ul{
        margin-top: 0;
        padding: 0;
        list-style: none;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
        text-align: center;
        color: white;
        a{
            color: inherit;
            text-decoration: none;
            opacity: 0.9;
        }
        li{
            display: inline-block;
            padding: 0 15px;

            a &:hover{
                opacity: 1;
            }
        }
    }
    .copyright{
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #ededed;
    }
  }

  @media(max-width:952px){
    nav{
        .enlace{
            padding-left: 20px;
        }
        ul{
            li{
                a{
                    font-size: 16px;
                }
            }
        }
    }

    .Contenedor-imagenes{
        display: flex;
        width: 100%;
        height: 25%;
        .slide{
            img{
                display: flex;
                height: 25%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
  }

  @media(max-height:700px)
  {
    nav{
        .enlace{
            padding-left: 20px;
            padding: 10px;
        }
        ul{
            li{
                a{
                    font-size: 12px;
                }
            }
        }
    }
  }

  @media(max-width:852px){
    nav{
        .checkbtn{
            display: block;
        }
        ul{
            display: flex;
            flex-direction: column;
            position: fixed;
            width: 100%;
            height: 100vh;
            background: white;
            top: 140px;
            left: -100%;
            text-align: center;
            transition:all 0.5s;
            li{
                display: block;
                margin: 50px 0;
                line-height: 30px;
                a{
                    font-size: 20px;
                    color: black;
                    &:hover,&:active{
                        color: black;
                        background:gray;
                        transition: 0.5s;
                    }
                }
            }
        }
        #check:checked ~ ul{
            left: 0;
        }
    }

    .slide{
        img{
            width: 100%;
            object-fit: cover;
        }
    }
    footer{
        font-size: 13px;
        ul{
            li{
                display: none;
            }
        }
        .Contactos-index{
            font-size: 8px;
        }
    }
  }

  /* NOSOTROS */

  .contenedor{
    .TITULO-NOSOTROS{
        // padding: 10px; 
        text-align: center;
        font-size: 50px;
        padding: 20px 0 20px 20px;
        padding-bottom: 30px;
        transition: all 300ms ease-in-out;
        font-weight: 600;
        text-decoration-line:underline;
    }
    .caja{
        display: flex;
        padding: 20px 20px 20px 20px;
    }
    .caja > div{
        width: 100%;
      }
  }

  @media(max-width:1566px){
    .contenedor{
        .caja{
            display: block;
        }
        .caja > div{
            width: 100%;
          }
    }
  }
  @media(max-width:1566px){
    .contenedor{
        .caja{
            display: block;
        }
        .caja > div{
            width: 100%;
          }
    }
  }

  /* SABORES */

  .Contenedor-Gustos{
    .Titulo-Crema{
        font-size: 50px;
        padding: 20px 0 20px 20px;
        transition: all 300ms ease-in-out;
        font-weight: 600;
        text-decoration-line:underline;
    }
    .Contenedor-Sabores{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-auto-rows: 750px;
        padding: 20px;
        grid-gap: 40px;
        .Box-Imagenes{
            position: relative;
            .Titulo-sabor{
                position: absolute;
                bottom: 0;
                color: white;
                background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
                width: 100%;
                margin: 0;
                padding: 10px;
            }
            .imagen{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .Titulo-dulce{
        font-size: 50px;
        padding: 60px 0 20px 20px;
        transition: all 300ms ease-in-out;
        font-weight: 600;
        text-decoration-line:underline;
    }
   }
   @media(max-width:952px) {
    .Contenedor-Gustos{
        .Contenedor-Sabores{
            grid-template-columns: repeat(3,1fr);
        }
    }
  }
  @media(max-width:852px) {
    .Contenedor-Gustos{
        .Contenedor-Sabores{
            grid-template-columns: repeat(2,1fr);
        }
    }
  }

  /* CONTACTO */

  aside{
    color: black;
    font-family: 'Roboto Slab', serif;
    padding: 0 1.5em;
    .content{
        max-width: 1570px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;
        .titulo-contacto{
            text-align: center;
            font-size: 3em;
            padding: 0 0 30px 0;
        }
        .cuadro-contacto{
            box-shadow: 0 0 20px 0 rgb(0, 0, 0);
            .formulario-contacto{
                background: #a1a0a0;
                form{
                    display: grid;  
                    grid-template-columns: 1fr 1fr;
                    .block{
                        grid-column: 1/3;
                    }
                    p{
                        margin: 0;
                        padding: 1em;
                        font-size: 18px;
                    }
                    button,input,textarea{
                        width: 100%;
                        padding: .7em;
                        border: none;
                        background: none;
                        outline: none;
                        border-bottom: 1px solid #574d4d;
                        color: black;
                        font-size: 20px;
                    }
                    button{
                        background: #000000;
                        color: white;
                        border: 0;
                        text-transform: uppercase;
                        padding: 1em;
                        &:hover,&:focus{
                            background: rgb(29, 26, 26);
                            color: white;
                            transition: 1s ease-out;
                            outline: 0;
                        }
                    }
                }
            }
            .informacion-contacto{
                background: #edededc5;
                h4,.lista-contactos,p{
                    text-align: center;
                    margin: 0 0 1rem 0;
                }
                .lista-contactos{
                    list-style: none;
                    padding: 0;
                    display: block;
                    li{
                        padding: .3em;
                    }
                }

            }

        }
        .cuadro-contacto>*{
            padding: 1em;
        }
    }
  }

  @media(min-width:952px){
    aside{
        padding: 0 4rem;
        .content{
            .cuadro-contacto{
                display: grid;
                grid-template-columns: 2fr 1fr;
            }
            .cuadro-contacto > *{
                padding: 2rem;
            }
            .informacion-contacto{
                h4{
                    font-size: 24px;
                }
                h4,ul,p{
                    padding: 2em;
                }
            }
        }
    }
  }

   /* SUCURSALES */

   .Contenedor-Sucursales{
        margin-right: -15px;
        margin-left: -15px;
        padding: 30px 0px 30px 40px;
        h1{
            text-align: center;
            padding-bottom: 50px;
            transition: all 300ms ease-in-out;
            font-size: 30px;
            font-weight: 600;
            text-decoration-line:underline;
        }
        .Cuadro-Sucursales{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            padding: 20px 30px 30px 30px;
            width: 100%;
            padding-bottom: 30px;
            #mapita{
                display: block;
            }
            .Columna-1{
                padding-left: 30px;
                h2{
                    margin-top: 0px;
                    font-size: 22px;
                }
                li{
                    padding: 2%;
                    margin-top: 2%; 
                    list-style: none;
                    font-size: 18px;
                    background-color: #FFFFFF;
                    cursor: pointer;
                }
            }
            .Columna-2{
                padding-left: 30px;
                h2{
                    margin-top: 0px;
                    font-size: 22px;
                }
                li{
                    padding: 2%;
                    margin-top: 2%; 
                    list-style: none;
                    font-size: 18px;
                    background-color: #FFFFFF;
                    cursor: pointer;
                }
            }
        }
    }

    @media((max-width:952px)){
        .Contenedor-Sucursales{
            .Cuadro-Sucursales{
                .Columna-1,.Columna-2{
                    li{
                        font-size: 16px;
                    }
                }
                
            }
        }
    }

    @media((max-width:852px)){
        .Contenedor-Sucursales{
            .Cuadro-Sucursales{
                .Columna-1,.Columna-2{
                    li{
                        font-size: 13px;
                    }
                }
                
            }
        }
    }
   



  
