/* index */
.contenedor{
display: flex;
justify-content: left;

}

.imagen{
 width: 100px;
 height: 112px;
 margin-right: 30px;
 cursor: pointer;
}

header{
  background: black;
}

.titulo
{
  color: white;
  margin-right: 990px;
}
.titulo-1{
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
margin-top: 10px;
}
.titulo-2{
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 10px;
}

.botones
{
  display: flex;
  width: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.btn-1{
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.btn-2{
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.btn-3{
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.btn-4{
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.imagen-1{
  width: 465px;
  height: 800px;
}
.imagen-2{
  width: 465px;
  height: 800px;
}
.imagen-3{
  width: 465px;
  height: 800px;
}
.imagen-4{
  width: 465px;
  height: 800px;
}

ul{
  list-style: none;
  margin-top: 50px;
}
li{
  float: left;

}

 /* NOSOTROS */

.contenedor-nosotros{
  display: flex;
justify-content: left;
}

.imagen-nosotros{
  width: 100px;
  height: 112px;
  margin-right: 30px;
  cursor: pointer;
}
.titulo-nosotros{
  color: white;
  margin-right: 990px;
}


.titulo_1-nosotros{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
}

.titulo_2-nosotros{
  font-family:'Courier New', Courier, monospace;
  margin-bottom: 0px;
}

.botones-nosotros{
  display: flex;
  width: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.btn_1-nosotros{
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.btn_2-nosotros{
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.btn_3-nosotros{
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.btn_4-nosotros{
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}
ul{
  list-style: none;
  margin-top: 50px;
}
li{
  float: left;

}

/* SABORES */

.contenedor-sabores{
  display: flex;
justify-content: left;
}

.imagen-sabores{
  width: 100px;
  height: 112px;
  margin-right: 30px;
  margin-top: 0px;
}
.titulo-sabores{
  color: white;
  margin-right: 990px;
}

.titulo_1-sabores{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 10px;
}

.titulo_2-sabores{
  font-family:'Courier New', Courier, monospace;
  /* margin-bottom: 10px; */
}

.botones-sabores{
  display: flex;
  width: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.btn_1-sabores{
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.btn_2-sabores{
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.btn_3-sabores{
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.btn_4-sabores{
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

ul{
  list-style: none;
  margin-top: 50px;
}
li{
  float: left;

}

.img_oreo{
  height: 500px;
  width: 350px;
  margin-left: 100px;
}

.img_granizado{
  height: 500px;
  width: 350px;
  margin-left: 100px;
}
.img_banana_split{
  height: 500px;
  width: 350px;
  margin-left: 100px;
}
.img_crema_arandanos{
  height: 500px;
  width: 350px;
  margin-left: 100px;
}

.Nombres_Crema{
  display: flex;
  justify-content: left;
}
.Crema_Oreo{
  margin-left: 220px;
}

.Granizado{
  margin-left: 350px;
}

.Banana_Split{
  margin-left: 330px;
}

.Crema_arandanos{
  margin-left: 310px;
}

.Imagenes_sabores_2{
  display: flex;
  justify-content: left;
}

.img_crema_frutos_secos{
  height: 500px;
  width: 350px;
  margin-left: 100px;
}

.Nombres_crema_2{
  display: flex;
  justify-content: left;
}

.Crema_frutos_secos{
  margin-left: 140px;
  margin-top: 30;
}

/* CONTACTO */

aside{
  text-align: center;
}

.Cuadro-contacto{
  /* margin-right: 50vh; */
  width:100vh;
  height: auto; overflow: hidden;
  border: 1px solid;
  float: center;
  margin-left: 80vh;
}

.Nombre-Apellido{
  display: flex;
  margin-left: 20px;
}

.Nombre{
  display: flex;
  margin-left: 20px;
  width:40vh;
  height: 30px; overflow: hidden;
  border: 1px solid;
  float: center;
}

.Apellido{
  margin-left: 50vh;
}

.Telefono-Asunto{
  display: flex;
  margin-left: 20px;
}

.Asunto{
  margin-left: 50vh;
}

.Mensaje{
  display: flex;
  margin-left: 20px;
}

/* SUCURSALES */

.Titulo-Sucursal{
  /* margin-left: 900px; */
  text-align: center;
}

.punto-venta{
  text-align: center;
}

.Nombres_Sucursales{
  display:flex;
  margin-left: 100px;
  cursor: pointer;
}

#Derecha{
  width:400px;
  height: auto; overflow: hidden;
  border: 1px solid;
  float: center;
  margin-left: 500px;
}

.Sucursal-1{
  text-align: left; 
}

ul{
  list-style: none;
  margin-top: 50px;
}
li{
  float: left;

}
.botones-sucursales{
  display: flex;
  width: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 15px;
}
.btn_1-sucursales{
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.btn_2-sucursales{
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.btn_3-sucursales{
  margin-right: 30px;
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}

.btn_4-sucursales{
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
}





